body {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.94);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    /* font-style: italic; */
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    /* background-color: black; */
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    margin-top: 20px;
}

img {
    width: 10vh;
    height: 10vh;
}

#iconBox:hover {
    cursor: pointer;
}

.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    /* background-color: black; */
}

#searchInput {
    width: 570px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
    border: none;
    outline: none;
    font-style: italic;
}

a {
    color: white;
    text-decoration: none;
    width: 70px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

#uploadId {
    background-color: rgb(58, 234, 164);
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: none;
    width: 110px;
    height: 35px;
    font-weight: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-left: 20px;
}

#uploadId:hover {
    cursor: pointer;
}

#trending:hover,
#favorites:hover,
#uploaded:hover {
    background-color: #9b6acf93;
}

#trending {
    border-bottom: #9c4eef 5px solid;
    width: 100px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#favorites {
    border-bottom: #9c4eef 5px solid;
    width: 110px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#uploaded {
    border-bottom: #9c4eef 5px solid;
    width: 110px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

span {
    font-size: 50px;
    font-weight: bold;
}

#magnifying-glass {
    background-color: white;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 179, 0);
    color: white;
}

#mag-glass-box {
    background-color: white;
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-left: 10px;
    background-color: rgb(255, 179, 0);
}

#iconBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

a.active {
    color: rgb(58, 234, 164);
    font-weight: bold;
}

span.favorite.active {
    color: rgb(255, 0, 149);
}

span.favorite {
    color: white;
    font-size: 30px;

    top: 0;
    right: 0;
    padding: 5px;
    display: none;
    transition: background-color 0.3s ease-in-out;
}

.gif-img:hover {
    cursor: pointer;
}

.gifs-view:hover span.favorite {
    display: block;
}

span.favorite:hover {
    cursor: pointer;
    font-size: 40px;
}

div.gifs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    justify-content: center;
    align-items: center;
}

div.gifs-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.gif-img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

span.view-details-span {
    color: white;
    font-size: 25px;
}

span.view-details-span:hover {
    cursor: pointer;
}

div#heart-box {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#to-single-gif-view {
    display: flex;
    flex-direction: row;
    /* background-color: black; */
    width: 100%;
    height: 100vh;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.gif-content-left {
    display: flex;
    flex-direction: column;
}

.gif-content-right {
    display: flex;
    flex-direction: column;
}

#display-username {
    color: white;
    font-size: 25px;
}

.gif-information {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.uploadedOn,
.gif-rating,
.gif-source {
    color: white;
    font-size: 25px;
}

#gif-details-image-view {
    width: 400px;
    height: 400px;
    border: none;
    border-radius: 10px;
}

.gif-title {
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
}

#user-avatar {
    border-radius: 10px;
}

div#mag-glass-box:hover {
    cursor: pointer;
}

#upload-content {
    background-color: #9c4eef;
}


#upload-content {
    display:flex;
    background: linear-gradient(to right, #318CE7, aqua);
    flex-direction: column;
    transition: background 0.5s ease;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 60%;
    border-radius: 20px;
    padding: 20px;
}

#main {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#upload-title {
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#GIPHY {
    font-size: 45px;
}

#UPLOAD {
    font-size: 25px;
}

#upload-text {
    font-size: 25px;
    color: white;
}

#upload-box {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 30vh;
    align-items: center;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

#gif-icon {
    background-color: white;
    width: 50px;
    padding: 5px;
    border-radius: 10px;
    font-size: 25px;
    height: 36px;
    text-align: center;
    color: #318CE7;
    margin-bottom: 10px;
}

#gif-text {
    color:white;
    font-size: 25px;
}

#upload-type-of-gif-text {
    font-size: 20px;
    color: white;
    margin-top: 10px;
}


/* background for UPLOAD BUTTON */
.background-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("/images/background-upload-page.jpg");
}

#upload-file-input {
    display: none;
}

#uploadLabel {
    margin-top: 20px;
    padding: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background-color: #318ce7c0;
}

#no-uploads-yet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 25px;
    border: dashed;
}

#plus {
    color: rgb(58, 234, 164);
    font-size: 70px;
}

#no-uploads-text {
    font-size: 35px;
    margin-bottom: 25px;
}

#no-uploads-button {
    background-color: #9c4eef;
    width: 150px;
    height: 45px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border: none;
}

.random-gif-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.no-fav-gif-text {
    font-size: 25px;
    color: white;
}

#fav-red {
    color: rgb(255, 0, 149);
    font-size: 25px;
    margin-bottom: 10px;
}

.add-fav-gif-text {
    color:white;
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.success-content {
    display:flex;
    background: linear-gradient(to right, #318CE7, aqua);
    flex-direction: column;
    transition: background 0.5s ease;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 30%;
    border-radius: 20px;
    padding: 20px;
    margin-top: 40px;
}

.success-upload-text {
    margin-bottom: 10px;
    font-size: 25px;
    color: white;

}

.btn-to-uploaded-page {
    margin-top: 20px;
    padding: 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background-color: #318ce7c0;
    border: none;
}

.failed-upload-gif-content {
    display: flex;
    flex-direction: column;
    color: white;
    height: 40vh;
    width: 40%;
    background: linear-gradient(to right, #318CE7, aqua);
    transition: background 0.5s ease;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.failed-text-upload, .try-again-text{
    margin-bottom: 10px;
    font-size: 25px;
    color: white;
}

.failed-button-upload {
    margin-top: 20px;
    padding: 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background-color: #318ce7c0;
    border: none;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    height: 30px;
    margin-top: 10px;
    font-weight: bold;
    padding-top: 5px;
}